body, *{
    font-size: large;
    text-align: center;
}
div{
    margin: auto;
    margin-top: 5vh;
    width: 50vw;
    padding: 2vw;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
button{
    height: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 5vh;
    background-color: #9558dc;
    border: none;
    border-radius: 1vh;
    padding: 0 2vh;
}